# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# If you are using PyCharm #
# User-specific stuff
.idea
.idea/*

# Env files
/django-app/.env.dev
/.env.dev.db

# Node modules
# /react/dietcart/node_modules