{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/accounts/register.css' %}">

{% endblock %}

{% block navbar %}
{% endblock %}


{% block content %}
    <main class="form-register">
        <form method="post">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Sign in</h1>

            {% for field in form %}
                {% include "components/field.html" with field=field %}
            {% endfor %}

            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
    </main>
{% endblock %}