{% load widget_tweaks %}

{% if field.errors %}
{% comment %}    <div class="alert alert-danger" role="alert">
        {{ field.errors }}
    </div>{% endcomment %}
{% endif %}

<div class="{{ form_class }} mb-3">
    {% if form_class == "form-group" %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% endif %}

    {% render_field field type=field.field.widget.input_type placeholder=field.label class+="form-control" %}

    {% if form_class == "form-floating" %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% endif %}
</div>