<style type="text/css" scoped>
    .last-item {
        margin-left: auto;
        color: #fff;
    }

{% comment %}    a:visited {
        color: #fff;
    }

    a:hover {
        color: #fff;
    }{% endcomment %}
</style>


<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">DietCart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-nav" id="navbarNavDropdown">
            <a class="nav-link" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">Pricing</a>
            {% if user.is_authenticated %}
                <li class="nav-item dropstart last-item ">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Settings
                    </a>
                    <ul class="dropdown-menu ">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
                    </ul>
                </li>
            {% else %}
                <a class="nav-link last-item" href="{% url 'login' %}">Log in</a>
            {% endif %}
        </div>
    </div>
</nav>