<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'icons/font/bootstrap-icons.css' %}">

    {% block head %}
    {% endblock %}


</head>
<body>

{% block navbar %}
    {% include 'components/navbar.html' %}
{% endblock %}


{% block content %}
    Default content
{% endblock %}



</body>
</html>