<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'icons/font/bootstrap-icons.css' %}">
    <script
            src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
            crossorigin="anonymous"></script>

    {% block head %}
    {% endblock %}


</head>
<body>

{% block navbar %}
    {% include 'components/navbar.html' %}
{% endblock %}

<div class="container">
    {% block content %}
        Default content
    {% endblock %}
</div>

</body>
</html>